{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    {% include 'core/components/titles.html' with titulo="Base de datos - Django" %}
{% endblock titulo %} 

{% block contenido %}
<div style="position: absolute; padding: 80px 88px;">
    <p style="padding-bottom: 30px;" class="text-white bg-secondary rounded"> 
    Base de datos creada para registrar compras de productos por cliente 
    </p>
    <p style="padding-bottom: 30px; text-align: center;" class="text-white bg-secondary rounded"> 
    Motor de búsqueda de clientes incorporado 
    </p>


    
</div>
{% endblock contenido %}

